<p id="notice"><%= notice %></p>

<h1>Totals</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @totals.each do |total| %>
      <tr>
        <td><%= total.fecha.strftime('%Y-%m-%d') %></td>
        <td><%= number_with_delimiter(total.total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
